.modalHead {
  text-align: center;
  padding-top: 20px;
  font-size: xx-large;
  color: black;

}

.inputform {
  width: 50%;
  margin: auto;
}

.input {
  font-weight: bold;
  width: 80%;
  padding: 10px;
  text-align: top;
}

.description {
  height: 400px;
  word-wrap: break-word;
  word-break: break-all;
}

.closeCreateBtn {
  width: 20%;
}
