.modalHead {
  text-align: center;
  padding-top: 20px;
  font-size: xx-large;
  color: black;

}

.inputform {
  margin: auto;
}

.f-input {
  font-weight: bold;
  width: 90%;
  padding: 10px;
  margin: 5px auto;
  text-align: top;
}

.description {
  height: 400px;
  /* word-wrap: break-word; */
}

.closeCreateBtn {
  width: 40%;
}
