.nav {
	position: sticky;
	display: flex;
	align-items: center;
    top: 0;
    background: #42A5F5;
    padding: 2vh 0 0 0;
    border-bottom: 3px solid #296596;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    
}

.navTitle {
    margin: 0px 30px;  
    padding-left: 20px;
    font-size: 2rem;
    text-decoration: none;
}

.loginNav {
    color: white;
    text-decoration: none;
}

.loginNav:hover {
    text-decoration: none;
}
